
.category{
    font-size: 2em;
    font-weight: Bold;
    color: rgb(32, 32, 31);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    background-color: rgb(114, 244, 233);
}

.menu li{
    font-size: 1.4em;
    list-style: none;
    color: rgb(58, 58, 94);
    text-align: center;
    margin: 0;
}

.menu li:hover{
    cursor: pointer;
    color: rgb(17, 113, 216);
}