/* 
.button{
  background-color: rgb(199, 255, 236);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button:hover{
  background-color: azure;
}

.button:active{
  background-color: rgb(231, 254, 254);
}

#This is external CSS */

/* Other methods are inline and modules */