
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.colorSelectorContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 55px;
  font-size: 3.2rem;
}

.colorDisplay{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4\5px solid hsl(0, 0%, 80%);
  border-radius: 30px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.colorDisplay p{
  color: hsl(0, 0%, 20%);
  font-size: 2.1rem;
  text-align: center;
}

label{
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 80%);
}