
.card{
  border: 1px solid rgb(38, 37, 37);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-top: 30px;
}

.cardImage{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cardTitle{
  font-weight: bold;
  font-style: oblique;
  color: hsl(0, 0%, 20%);
}

.cardDescription{
  font-weight: 200;
  text-align: justify;
}

.card:hover{
  transform: scale(1.1);
}